/* ---------- Color Module Styles ----------- */

body {
  color: #060606;
  background: #c70e0e;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #b91717;
}

.tabs ul.primary li a.is-active {
  background-color: #ffffff6e;
}

.tabs ul.primary li.is-active a {
  background-color: #231313;
  border-bottom-color: #f57171;
}

#navbar-top {
  background-color: #3dad2f;
}

#navbar-main {
  background-color: #1d84c3;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
.nav-item .dropdown-item a.active {
  color: rgb(242, 153, 255)55, 255, 255);
}
.nav-link {
  color: rgb(172, 231, 92);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(83, 231, 221);
}
a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0256b1;
}

.site-footer {
  background: #c31111;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

:root {
  --heading-color: #333; 
  --navbar-bg-color: #007bff; 
  --navbar-link-color: #fff; 
  --footer-bg-color: #333; 
  --footer-text-color: #fff; 
}